body{
    margin: 15px;
    padding: 20px;
}
#main-div{
    padding: 25px;
}
img{
    float: left;
    margin: 1em;
}
#main-header{
    color: yellow;
}
.main-a-tags{
    color: yellow;
}
footer{
    text-align: center;
    font-size: small;
}