body{
    margin-top: 25px;
    padding-top: 25px;
    
}
#main-div{
    text-align: center;
}
img{
    float: left;
       
}
#main-header{
    color: rgb(204, 125, 7);
    text-shadow: 2px 2px 2px black;
}
#para-two{
    text-indent: 2em;
}
#para-four{
    text-indent: 2em;
}
#footer{
    text-align: right;
}
a{
    color: red;
}
.date-passed{
    color: gray;
}
